// bower:scss
// endbower

body {
  background: #448DB5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #BDD4E1;
  padding: 0 50px;
}

canvas {
    outline: 1px solid #EEE;
    background: #EEE;
}

}
/* @http://www.sunpig.com/martin/archives/2010/02/10/marching-ants-in-css.html */
.marchingAnts {
    background: url('data:image/gif;base64,R0lGODlhCAAIAIABAAATfwAAACH5BAEAAAEALAAAAAAIAAgAAAINhBEZh8q6DoTPSWvoKQA7') repeat-x 0 -6px;
    padding: 2px 0 0 0;

    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

